<launch>
	<include file="$(find vins)/launch/rviz.launch"/>
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(find vins)/../param_files/real_use/vins/vins_with_d435.yaml">
        <remap from="~imu_propagate" to="/quadrotor_control/odom"/>
		<remap from="~imu_propagate_pose" to="/mavros/vision_pose/pose"/>
	</node >
</launch> 
